nav div a{
  color: aliceblue !important;
}
.dropdown-item:hover{
background-color: rgb(86, 158, 71);
}
.products-intro a {
  text-decoration: none;
  color: black;
}
.bg-lights{
background-color: rgba(28,62,21);
}

.bg-jumbo{
  background: url(./images/bg-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  color: aliceblue !important;
}

#rice{
  display: none;
}
#tomato{
  display: none;
}
#yam{
  display: none;
}
#onion{
  display: none;
}
.rice-jumbo{
  height: 60vh;
  background: url(./images/rice-jumbo.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
}

.tomatojumbo{
  height: 60vh;
  background: url(./images/tomatojumbo.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
}

.yamjumbo{
  height: 60vh;
  background: url(./images/yamjumbo.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
}
.onionjumbo{
  height: 60vh;
  background: url(./images/onionjumbo.jpeg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
}