nav div a{
  color: aliceblue !important;
}
.dropdown-item:hover{
background-color: rgb(86, 158, 71);

}

.bg-lights{
background-color: rgba(28,62,21);
}

.bg-jumbo{
  background: url(./images/bg-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  color: aliceblue !important;
}